<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caiyn.persistence.dao.CategoryLevelOneConfigMapper">
  <resultMap id="BaseResultMap" type="com.caiyn.persistence.po.CategoryLevelOneConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="category_en" jdbcType="VARCHAR" property="categoryEn" />
    <result column="category_cn" jdbcType="VARCHAR" property="categoryCn" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, category_en, category_cn
  </sql>
</mapper>